<h1>Log in</h1>

<%= form_with(url: session_path, local: true) do |f| %>

<%= f.label :email_or_username %>
<%= f.text_field :email_or_username, autofocus: true, required: true %>

<%= f.label :password %>
<%= f.password_field :password, required: true %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<%= f.submit "Sign In" %>

<% end %>