<ul>
 <% @movies.each do |movie| %>
    <li><strong><%= movie.title %> </strong>
    (<%= movie.rating %>):
    <%= total_gross(movie) %> 
    </li>
    <p> 
        <%= concise(movie) %> 
    </p>
    <p> 
        Released Date: <%= year_of(movie) %> 
    </p>
<% end %>
